@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(http://fonts.googleapis.com/css?family=VT323);
/* line 6, ../scss/tf.scss */
body {
  background: url(/static/img/bg_texture.png) 0 0 repeat;
  color: #6b6b6b;
}

/* line 11, ../scss/tf.scss */
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

/* line 15, ../scss/tf.scss */
.section {
  margin-top: 45px;
}

/* line 19, ../scss/tf.scss */
.tabs-content {
  margin-bottom: 0;
}

/* line 1, ../scss/particles/_topbar.scss */
nav.tab-bar {
  height: 110px;
  background: #191919;
}
/* line 5, ../scss/particles/_topbar.scss */
nav.tab-bar .left-small {
  width: 150px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  border-right: 1px solid #090909;
  margin-right: 1px;
}
/* line 14, ../scss/particles/_topbar.scss */
nav.tab-bar .right-small {
  width: 110px;
  height: 110px;
  text-align: center;
  border-left: 1px solid #090909;
}
/* line 20, ../scss/particles/_topbar.scss */
nav.tab-bar .right-small a {
  width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
}

/* line 29, ../scss/particles/_topbar.scss */
.main-nav {
  height: 110px;
  background: #191919;
}
/* line 33, ../scss/particles/_topbar.scss */
.main-nav nav {
  background: #191919;
  min-width: 800px;
}
/* line 37, ../scss/particles/_topbar.scss */
.main-nav nav li:not(.has-form) a:not(.button) {
  background: #191919;
  color: #fff;
  width: 150px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  border-right: 1px solid #090909;
  margin-left: 1px;
}
/* line 50, ../scss/particles/_topbar.scss */
.main-nav nav li:last-child:not(.has-form) a:not(.button) {
  border-right: none;
}
/* line 54, ../scss/particles/_topbar.scss */
.main-nav nav li:first-child:not(.has-form) a:not(.button) {
  margin-left: 0;
}
/* line 58, ../scss/particles/_topbar.scss */
.main-nav nav li:not(.has-form) a:hover:not(.button),
.main-nav nav li:not(.has-form) a.active:not(.button) {
  background: #191919;
  color: #0f9cfe;
}

/* line 1, ../scss/particles/_page-header.scss */
.page-header {
  height: 1080px;
  background: url(/static/img/banner.jpg) center 0 no-repeat;
}
/* line 5, ../scss/particles/_page-header.scss */
.page-header .buttons {
  padding: 0;
}
/* line 8, ../scss/particles/_page-header.scss */
.page-header .buttons a {
  display: block;
  margin-bottom: 10px;
}

/* line 1, ../scss/particles/_slides.scss */
.slides {
  background: url(/static/img/slide_border.png) 0 0 no-repeat;
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 10px;
  margin: 0;
}
/* line 10, ../scss/particles/_slides.scss */
.slides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 18, ../scss/particles/_slides.scss */
.slides li:first-child {
  position: relative;
  display: block;
  float: left;
}
/* line 24, ../scss/particles/_slides.scss */
.slides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/* line 2, ../scss/particles/_tabs.scss */
.tabs dd > a {
  background: none;
  color: #fff;
  font-size: 16px;
  padding: 6px 4px;
  margin-right: 8px;
}
/* line 10, ../scss/particles/_tabs.scss */
.tabs dd.active > a,
.tabs dd > a:hover {
  background: none;
  color: #0f9cfe;
  border-bottom: 3px solid #0f9cfe;
}

/* line 5, ../scss/particles/_box.scss */
.box-header {
  overflow: hidden;
}
/* line 8, ../scss/particles/_box.scss */
.box-header a.more {
  display: block;
  padding: 10px 14px;
  color: #6b6b6b;
  font-size: 14px;
  background: url(/static/img/icon_more.png) right center no-repeat;
}
/* line 16, ../scss/particles/_box.scss */
.box-header a.more:hover {
  color: #0f9cfe;
  text-decoration: underline;
}
/* line 21, ../scss/particles/_box.scss */
.box-header h3 {
  color: #fff;
  font-size: 20px;
  text-shadow: 0px 1px 4px #0db3f1;
}

/* line 2, ../scss/particles/_entry.scss */
.entry-list li {
  list-style-type: none;
}
/* line 5, ../scss/particles/_entry.scss */
.entry-list li .label.secondary {
  font-family: 'VT323', sans-serif;
  font-style: italic;
}
/* line 10, ../scss/particles/_entry.scss */
.entry-list li .title {
  margin-bottom: 0;
  background: url(/static/img/arrow.png) right 0 no-repeat;
}
/* line 14, ../scss/particles/_entry.scss */
.entry-list li .title a {
  color: #a3a3a3;
}

/* line 1, ../scss/pages/_index.scss */
#logo {
  padding-top: 60px;
  margin-bottom: 300px;
}

/* line 7, ../scss/pages/_index.scss */
#shortcuts .box {
  background: url(/static/img/frame_1.png) center center no-repeat;
  background-size: 100% 100%;
  padding: 10px 10px 30px 10px;
}
/* line 12, ../scss/pages/_index.scss */
#shortcuts .box .box-content {
  text-align: center;
}
/* line 17, ../scss/pages/_index.scss */
#shortcuts #shortcut-event h3 {
  padding-left: 20%;
  background: url(/static/img/icon_event.png) 7% center no-repeat;
}
/* line 22, ../scss/pages/_index.scss */
#shortcuts #shortcut-strategy h3 {
  padding-left: 20%;
  background: url(/static/img/icon_strategy.png) 7% center no-repeat;
}
/* line 27, ../scss/pages/_index.scss */
#shortcuts #shortcut-forum h3 {
  padding-left: 20%;
  background: url(/static/img/icon_forum.png) 7% center no-repeat;
}

/* line 34, ../scss/pages/_index.scss */
#gallery .box {
  min-height: 380px;
  background: url(/static/img/frame_2.png) center center no-repeat;
  background-size: 100% 100%;
  padding: 2px 20px 0 20px;
}
/* line 40, ../scss/pages/_index.scss */
#gallery .box h3 {
  padding-left: 15%;
  background: url(/static/img/icon_gallery.png) 2% center no-repeat;
}
/* line 45, ../scss/pages/_index.scss */
#gallery .box .block-grid {
  text-align: center;
}

/* line 52, ../scss/pages/_index.scss */
#equipments .box {
  min-height: 380px;
  background: url(/static/img/frame_2.png) center center no-repeat;
  background-size: 100% 100%;
  padding: 2px 20px 0 20px;
}
/* line 58, ../scss/pages/_index.scss */
#equipments .box h3 {
  padding-left: 10%;
  background: url(/static/img/icon_gallery.png) 2% center no-repeat;
}
/* line 63, ../scss/pages/_index.scss */
#equipments .box .block-grid {
  text-align: center;
}
