<!-- ENTRY LIST -->
<ul class="entry-list">
  <li class="list-item">
    <div class="media row">
      <div class="small-1 columns"><span class="secondary label">1</span></div>
      <div class="small-11 columns">
        <p class="title"><a href="#">[NEWS]&nbsp;&nbsp;New Game Coming Soon!!!</a></p>
        <p class="date">2014-11-10</p>
      </div>
    </div>
  </li>
  <li class="list-item">
    <div class="media row">
      <div class="small-1 columns"><span class="secondary label">2</span></div>
      <div class="small-11 columns">
        <p class="title"><a href="#">[NEWS]&nbsp;&nbsp;New Game Coming Soon!!!</a></p>
        <p class="date">2014-11-10</p>
      </div>
    </div>
  </li>
  <li class="list-item">
    <div class="media row">
      <div class="small-1 columns"><span class="secondary label">3</span></div>
      <div class="small-11 columns">
        <p class="title"><a href="#">[NEWS]&nbsp;&nbsp;New Game Coming Soon!!!</a></p>
        <p class="date">2014-11-10</p>
      </div>
    </div>
  </li>
  <li class="list-item">
    <div class="media row">
      <div class="small-1 columns"><span class="secondary label">4</span></div>
      <div class="small-11 columns">
        <p class="title"><a href="#">[NEWS]&nbsp;&nbsp;New Game Coming Soon!!!</a></p>
        <p class="date">2014-11-10</p>
      </div>
    </div>
  </li>
</ul>
<!-- END ENTRY LIST -->
