#logo {
    padding-top: 60px;
    margin-bottom: 300px;
}

#shortcuts {
    .box {
        background: url(/static/img/frame_1.png) center center no-repeat;
        background-size: 100% 100%;
        padding: 10px 10px 30px 10px;

        .box-content {
            text-align: center;
        }
    }

    #shortcut-event h3 {
        padding-left: 20%;
        background: url(/static/img/icon_event.png) 7% center no-repeat;
    }

    #shortcut-strategy h3 {
        padding-left: 20%;
        background: url(/static/img/icon_strategy.png) 7% center no-repeat;
    }

    #shortcut-forum h3 {
        padding-left: 20%;
        background: url(/static/img/icon_forum.png) 7% center no-repeat;
    }
}

#gallery {
    .box {
        min-height: 380px;
        background: url(/static/img/frame_2.png) center center no-repeat;
        background-size: 100% 100%;
        padding: 2px 20px 0 20px;

        h3 {
            padding-left: 15%;
            background: url(/static/img/icon_gallery.png) 2% center no-repeat;
        }

        .block-grid {
            text-align: center;
        }
    }
}

#equipments {
    .box {
        min-height: 380px;
        background: url(/static/img/frame_2.png) center center no-repeat;
        background-size: 100% 100%;
        padding: 2px 20px 0 20px;

        h3 {
            padding-left: 10%;
            background: url(/static/img/icon_gallery.png) 2% center no-repeat;
        }

        .block-grid {
            text-align: center;
        }
    }
}
