<!DOCTYPE html>
<html>
  <head>
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block title %}<title>Thunder Fighter</title>{% endblock %}
    {# {% block favicon %}<link rel="shortcut icon" href="/static/favicon.ico">{% endblock %} #}

    {% block css %}
    <link rel="stylesheet" href="/static/plugins/foundation/css/normalize.css">
    <link rel="stylesheet" href="/static/plugins/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="/static/css/tf.css">
    {% endblock %}

    {% block css_snippets %}{% endblock %}

    {% block preload_js %}
    <script src="/static/plugins/foundation/js/vendor/modernizr.js"></script>
    <script src="/static/plugins/foundation/js/vendor/jquery.js"></script>
    {% endblock %}
  </head>

  <body class="antialiased hide-extras">
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        {% include 'off_canvas_menu.html' %}
        {% include 'topbar.html' %}
        {% include 'page-header.html' %}

        <section role="main" id="main" class="scroll-container">
          {% block content %}{% endblock %}
        </section>

        {% block footer %}{% endblock %}

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
      </div><!-- end .inner-wrap -->
    </div><!-- end .off-canvas-wrap -->

    {% block load_js %}
    <script src="/static/plugins/foundation/js/foundation.min.js"></script>
    {% endblock %}

    {% block js_snippets %}
      <script>
        $(document).foundation();
      </script>
    {% endblock %}
  </body>
</html>
