<nav class="tab-bar show-for-small" data-topbar>
  <section class="left-small">
    <a href="#"><img src="/static/img/logo.jpg" alt="Logo" width="100"></a>
  </section>
  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>
</nav>

<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><a href="{{ url_for('frontend.index') }}">Home</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Game Info</a></li>
    <li><a href="#">Strategies</a></li>
  </ul>
</aside>
