<div class="page-header scroll-container">
  <div class="row" id="logo">
    <div class="small-8 right columns">
      <img src="/static/img/logo.png">
    </div>
  </div>

  <div class="row">
    <div class="small-10 small-centered medium-6 medium-offset-6 columns end">
      <div class="row">
        <div class="small-6 buttons columns">
          <div class="row">
<!--             <div class="small-12 columns">
              <a href="#"><img src="/static/img/app_store.png" alt="App Store"></a>
            </div> -->
            <div class="small-12 columns">
              <a href="https://play.google.com/store/apps/details?id=com.funplus.fr.galaxystorm"><img src="/static/img/google_play.png" alt="Google Play"></a>
            </div>
            <div class="small-12 columns">
              <a href="https://www.facebook.com/GalaxyStormFunplus"><img src="/static/img/fanpage.png" alt="Facebnook Fanpage"></a>
            </div>
          </div>
        </div><!-- end .buttons -->
      </div>
    </div><!-- end .small-10 -->
  </div>
</div><!-- end .page-header -->
