<!-- TOP BAR -->
<!-- <div class="main-nav hide-for-small scroll-container">
  <div class="row">
    <div class="medium-12 columns">
      <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section">
          <ul>
            <li><a href="#"><img src="/static/img/logo.jpg" alt="Logo" width="100"></a></li>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Game Info</a></li>
            <li><a href="#">Strategies</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</div> -->
