{% extends 'base.html' %}

{% block content %}
<div class="section row text-center" id="footer">
&copy; Funplus
</div>
{% endblock %}

{% block preload_js %}
{{ super() }}
<script src="/static/plugins/responsiveslides.min.js"></script>
{% endblock %}

{% block js_snippets %}
{{ super()  }}

<script>
  /*$('.slides').responsiveSlides({});*/
</script>
{% endblock %}
