// Colors
$color-topbar-bg: #191919;
$color-topbar-item-border: #090909;
$color-body-bg: #1e1e1e;
$color-text-base: #a3a3a3;
$color-text-light: #fff;
$color-text-dark: #6b6b6b;
$color-text-highlight: #0f9cfe;
$color-text-shadow: #0db3f1;

// Fonts
$font-size-topbar: 22px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 20px;

// Dimensions
$section-margin: 45px;
$topbar-height: 110px;
$topbar-item-height: 110px;
$topbar-item-width: 150px;
$page-header-height: 728px; 
