@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(http://fonts.googleapis.com/css?family=VT323);
@import "settings";
@import "compass/css3";

body {
    background: url(/static/img/bg_texture.png) 0 0 repeat;
    color: $color-text-dark;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-text-light;
}

.section {
    margin-top: $section-margin;
}

.tabs-content {
    margin-bottom: 0;
}

// Import particles
@import "particles/topbar";
@import "particles/page-header";
@import "particles/footer";
@import "particles/slides";
@import "particles/tabs";
@import "particles/box";
@import "particles/entry";

// Import pages
@import "pages/index"
