$default-text-shadow-color: $color-text-shadow;
$default-text-shadow-blur: 4px;
$default-text-shadow-v-offset: 1px;

.box-header {
    overflow: hidden;

    a.more {
        display: block;
        padding: 10px 14px;
        color: $color-text-dark;
        font-size: $font-size-small;
        background: url(/static/img/icon_more.png) right center no-repeat;
    }

    a.more:hover {
        color: $color-text-highlight;
        text-decoration: underline;
    }

    h3 {
        color: $color-text-light;
        font-size: $font-size-large;
        @include single-text-shadow;
    }
}
