.entry-list {
    li {
        list-style-type: none;

        .label.secondary {
            font-family: 'VT323', sans-serif;
            font-style: italic;
        }

        .title {
            margin-bottom: 0;
            background: url(/static/img/arrow.png) right 0 no-repeat;

            a {
                color: $color-text-base;
            }
        }
    }
}
