.page-header {
    height: 1080px;
    background: url(/static/img/banner.jpg) center 0 no-repeat;

    .buttons {
        padding: 0;

        a {
            display: block;
            margin-bottom: 10px;
        }
    }
}
