.slides {
    background: url(/static/img/slide_border.png) 0 0 no-repeat;
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    margin: 0;

    li {
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
    }

    li:first-child {
        position: relative;
        display: block;
        float: left;
    }

    img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }
}
