.tabs {
    dd > a {
        background: none;
        color: $color-text-light;
        font-size: $font-size-base;
        padding: 6px 4px;
        margin-right: 8px;
    }

    dd.active > a,
    dd > a:hover {
        background: none;
        color: $color-text-highlight;
        border-bottom: 3px solid $color-text-highlight;
    }
}
