nav.tab-bar {
    height: $topbar-height;
    background: $color-topbar-bg;

    .left-small {
        width: $topbar-item-width;
        height: $topbar-item-height;
        line-height: $topbar-item-height;
        text-align: center;
        border-right: 1px solid $color-topbar-item-border;
        margin-right: 1px;
    }

    .right-small {
        width: $topbar-height;
        height: $topbar-item-height;
        text-align: center;
        border-left: 1px solid $color-topbar-item-border;

        a {
            width: $topbar-height;
            height: $topbar-item-height;
            line-height: $topbar-item-height;
            text-align: center;
        }
    }
}

.main-nav {
    height: $topbar-height;
    background: $color-topbar-bg;

    nav {
        background: $color-topbar-bg;
        min-width: 800px;

        li:not(.has-form) a:not(.button) {
            background: $color-topbar-bg;
            color: $color-text-light;
            width: $topbar-item-width;
            height: $topbar-item-height;
            line-height: $topbar-item-height;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
            border-right: 1px solid $color-topbar-item-border;
            margin-left: 1px;
        }

        li:last-child:not(.has-form) a:not(.button) {
            border-right: none;
        }

        li:first-child:not(.has-form) a:not(.button) {
            margin-left: 0;
        }

        li:not(.has-form) a:hover:not(.button),
        li:not(.has-form) a.active:not(.button) {
            background: $color-topbar-bg;
            color: $color-text-highlight;
        }
    }
}
